<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>Scraping Machine</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>

  <body>
    <!-- Main chat container -->
    <div id="chat-container" style="width: 60vw; height: 90vh; margin: 2vh auto; border-radius: 32px; box-shadow: 0 4px 24px rgba(0,0,0,0.10); padding: 0; font-size: 1.25rem; display: flex; align-items: center; justify-content: center;">
        <div class="container-fluid h-100" style="height: 100%; width: 100%;">
          <div class="row justify-content-center h-100" style="height: 100%;">
            <div class="col-12 chat" style="height: 100%;">
              <div class="card" style="height: 100%; width: 100%;">
                <div class="card-header msg_head">
                  <div class="d-flex bd-highlight">
                    <div class="img_cont">
                      <img
                        src="https://media.licdn.com/dms/image/v2/D560BAQHK10HmqRh1rQ/company-logo_200_200/company-logo_200_200/0/1701815665068/wealthboom_logo?e=1755129600&v=beta&t=0RhPS_izHlCe2NRvKtO7mgT7LXo6T87muFlK-HR_noE"
                        class="rounded-circle user_img"
                        style="width: 60px; height: 60px; object-fit: cover;"
                      />
                      <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                      <span>Scraping Machine</span>
                      <p>Please upload your financial statements to begin.</p>
                    </div>
                  </div>
                </div>
                <div class="card-body msg_card_body d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                  <form id="uploadForm" enctype="multipart/form-data" method="POST" action="/chat_upload" style="width: 100%; max-width: 400px;">
                    <div class="form-group">
                      <input type="file" id="file" name="file" accept=".csv,.xls,.xlsx" class="form-control-file" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 1em;">Upload File</button>
                  </form>
                  <div id="upload-status" style="margin-top: 1em;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script>
      $(document).ready(function () {
        $('#uploadForm').on('submit', function (event) {
          event.preventDefault();
          var formData = new FormData(this);
          $('#upload-status').html('<span style="color: #888;">Uploading...</span>');
          $.ajax({
            url: '/chat_upload',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
              if (data.success) {
                $('#upload-status').html('<span style="color: green;">File uploaded successfully!</span>');
                $('#file').val('');
              } else {
                $('#upload-status').html('<span style="color: red;">Upload failed.</span>');
              }
            },
            error: function () {
              $('#upload-status').html('<span style="color: red;">There was an error processing your request.</span>');
            }
          });
        });
      });
    </script>
  </body>
</html>
